body {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    background-color: #93BFCF;
}

header h1 {
    color: #fcfaf3;
    font-size: 50px;
    padding: 30px;
    margin-top: 5px;
}

header h4 {
    color: #1b4250;
    font-size: 20px;
    margin-top: -30px;
}

header p {
    margin-top: -30px;
    padding-bottom: 15px;
    font-size: 20px;
    color: #1b4250;
}

.inputSection {
    display: flex;
    flex-direction: column;
}

#lblLuasSquareSideS {
    font-size: 25px;
}

#luasSquareSide {
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    border: solid #93BFCF;
    padding: 10px;
}

#squareSide:focus {
    border: solid #6096B4;
}

button {
    background-color: #54a0cc;
    color: rgb(230, 249, 246);
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #6096B4;
}

button:active {
    background-color: #2b5e79;
    transform: translateY(2px);
}

.cardLuas {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px 20px 10px 10px;
  }